@charset "utf-8";
/* CSS Document */

.tabmargin {
	width: 96.7%;
	margin-left: 13px;
}
.tabContentSec {
	background:#3695d5;
	height:30px;
	width:100%;
	color:#fff;
	cursor: pointer;
	margin:0px 0px 0px 0px;
	border-bottom: solid 1px #bbbaba;
}
.tabContentSec h2 {
	font:bold 15px/35px "Calibri", Arial, Helvetica, sans-serif;
	padding-left:0px;
	text-align: center;
}
.tabContent_data {
	width:100%;
	background:#ffffff;
	border-top:solid 0px #a2a2a2;
	font-size: 13px;
	line-height: 18px;
}

.dataTbl{
	border-collapse:collapse;
	border-right: 2px solid #f8f8f8;
}
.dataTbl td{
	border:solid 1px #fff;
	padding:4px;
}
.dataTbl tr:nth-child(odd){
	background:#F0F9FF;
}
.dataTbl tr:nth-child(even) {
	background: #DFF5FC;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:    #000;
    font: 14px Arial, Helvetica, sans-serif;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #000;
    font: 14px Arial, Helvetica, sans-serif;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #000;
    font: 14px Arial, Helvetica, sans-serif;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #000;
    font: 14px Arial, Helvetica, sans-serif;
}