/*20-05-2014 signin*/
.login_wrapp{
	width:420px;
	height:275px;
	margin:70px auto;
	background:url(../images/loginBg.png) no-repeat 0 15px;
}
.signin_title{
	float:left;
	width:100%;
	margin-top : 30px;
}
.signin_title h1{
	font-size:15px;
	color:#fff;
	text-align:center;
}
.regi_block{
	float:left;
	width:100%;
	font-size:13px;
	text-align:center;
	padding-top:9px;
	color:#6a7375;
}
.signin_title h1{
	color:#fff;
}
.regi_block a{
	color:#2a859c;
	text-decoration:none;
}
.text_fields{
	float:left;
	width:100%;
	padding:35px 0 0 40px;
	color:#0c3c46;
}
.text_fields table td{
	padding:4px !important;
}
.text_field{
	background:url(../images/text_field.png) no-repeat;
	width:233px;
	height:26px;
	padding-left:5px;
	line-height:26px;
	border:none;
	outline:none;
}
.select_field{
	background:url(../images/select_field.png) no-repeat;
	width:123px;
	height:26px;
	padding-left:5px;
	line-height:26px;
	border:none;
	-webkit-appearance:none;
	outline:none;
	
}
@-moz-document url-prefix() { 
.select_field{
	padding-top:4px;
	appearance:none;
	}
}
.buttons{
	float:left;
	width:100%;
	text-align:center;
	margin-top: -30px;
}
.err_msg{
	float:left;
	width:100%;
	height:29px;
	text-align:center;
	font-size:12px;
	color:#CC0033;
	padding-top:5px;
}
.err_msg1{
	float:left;
	width:100%;
	height:29px;
	text-align:center;
	font-size:12px;
	color:#CC0033;
	padding-top:5px;
}
.btn{
	border:none;
	background:url(../images/signin_btn.png) no-repeat;
	width:61px;
	height:25px;
	color:#fff;
	padding:0px !important;
}
.btn_cl{
	border:none;
	background:url(../images/cancel_btn.png) no-repeat;
	width:61px;
	height:25px;
}

/*registration*/
.register_wrapp{
	float:left;
	width:100%;
	color:#0e5d7d;
}
.reg_title{
	background:#eff7f7;
	padding:10px 0px;
	margin:30px 0px;
	text-align:center
}
.reg_title h1{
	font-size:16px;
	padding:0px;
	margin:0px;
	color:#07367b;
}
.reg_fileds_left{
	float:left;
	width:45%;
	padding-left:50px;
}
.reg_fileds_left table td{
		padding:4px !important;
	}
.reg_fileds_right table td{
		padding:4px !important;
}	
.reg_fileds_right{
	float:left;
	width:45%;
	padding-right:20px;
	padding-bottom:30px;
}
.text_area{
	background:url(../images/text_area.png) no-repeat;
	width:233px;
	height:66px;
	padding-left:5px;
	line-height:26px;
	border:none;
	outline:none;
}